In [8]:
#liste e range()

myList = [3,'hello',True, myList]

myList

[3, 'hello', True, [3, 'hello', True]]

In [10]:
range(15) #senza generare lista in memoria da 0 a 14

range(0, 15)

In [14]:
list(range(4,15)) #genera lista del range salvandola in memoria

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [16]:
list(range(4,15,2)) #genera lista saltando 2 elementi

[4, 6, 8, 10, 12, 14]

In [24]:
# Accedere ai valori della lista con []
w = ['a','b','c']
w[1]

'b'

In [27]:
w[-2] #in R l'indice negativo esclude l'elemento a quell'indice

'b'

In [90]:
w = ['a','b','c']

len(w)

3

In [132]:
#Affettare lisa slicing [dal(val) : al(val) :  passo/step default 1] con idici negativi o positivi per creare fette 
#  2 : 7 # dall'elemento ocn indice 2 fino all'elemento 7 con indice 6
#  -8 : 7 # sarebbe uguale dire dal valore -8 se lista parte con indice negativo -10 
#  -8: -3 # uguale a sopra
#  2: 9: 2 # prendo da indice 2 ,fino al nono(9) elemento non comprendendolo, ogni volta saltando il primo 
letters = [ 'a','b','c','d', 'f', 'g', 'h','i', 'j','l']
letters

['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i', 'j', 'l']

In [8]:
letters[:]

['a', 'b', 'c', 'd']

In [32]:
letters[:3]

['a', 'b', 'c']

In [13]:
letters[2:3]

['c']

In [35]:
letters[-5: 3]

['a', 'b', 'c']

In [133]:
letters[2: 9 : 2]

['c', 'f', 'h', 'j']

In [125]:
letters[:: 2]

['a', 'c']

In [127]:
letters[:: -1] #restituisce alla rovescia

['d', 'c', 'b', 'a']

In [53]:
#      LIST COMPREHENSIONS
#come creare una lista
list1 = [ 1,2,3,4]
list1

[1, 2, 3, 4]

In [64]:
#copiare la lista
list2 = list1[:]
list2
list3 = list2.copy() 
list3
list4 = list(range(0,4))
list4

[0, 1, 2, 3]

In [68]:
# stampiamo tutti i numeri cubi dal 1 al 21
cubi = []
for i in range(1,21): 
    cubi.append(i**3)
cubi

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000]

In [82]:
#stampare i cubi in modo pi√π facile con list comprehensions a sinistra del loop cosa vogliamo ritornare,
#possiamo concatenare anche una if

cubi = [ i**3 for i in range(1,21) if i%2 == 0]
cubi

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000]

In [83]:
#ritornare un tupla con primo valore numero secondo valore potenza
cubi = [(i,i**3) for i in range(1,21)]
cubi

[(1, 1),
 (2, 8),
 (3, 27),
 (4, 64),
 (5, 125),
 (6, 216),
 (7, 343),
 (8, 512),
 (9, 729),
 (10, 1000),
 (11, 1331),
 (12, 1728),
 (13, 2197),
 (14, 2744),
 (15, 3375),
 (16, 4096),
 (17, 4913),
 (18, 5832),
 (19, 6859),
 (20, 8000)]

In [146]:
# tupla ogni valore lista1 con ogni valore della lista 2
lista1 = [2,4,6,8]
lista2 = [2,3,5,7]
listMulti = []
for i in lista1:
    for j in lista2:
        listMulti.append((i,j))
listMulti

[(2, 2),
 (2, 3),
 (2, 5),
 (2, 7),
 (4, 2),
 (4, 3),
 (4, 5),
 (4, 7),
 (6, 2),
 (6, 3),
 (6, 5),
 (6, 7),
 (8, 2),
 (8, 3),
 (8, 5),
 (8, 7)]

In [118]:
#ogni valore lista1 moltiplicato con ogni valore della lista 2
lista1 = [2,4,6,8]
lista2 = [2,3,5,7]
listMulti2 = []
for i in lista1:
    for j in lista2:
        listMulti2.append(i*j)
listMulti2

[4, 6, 10, 14, 8, 12, 20, 28, 12, 18, 30, 42, 16, 24, 40, 56]

In [150]:
#RISULTATO PIU PULITO CON LIST COMPREHENSIONS a sx cosa vogliamo toranere e i cicli direttamente nelle parentesi []
#ricordati che oer richiamare elementi dalle liste si usano sempre le [] es. listMulti[1] //(3,7) 
#in questo caso calcoliamo direttamente qui in list comprehension
lista1 = [1,2,3,4]
lista2 = [5,6,7,8]
listMulti = [(i,j) for i in lista1 for j in lista2]
listMulti

[(1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8)]

In [135]:
#concettO di Tuple Lista di valori immutabili 
# ( si utilizza per poter passare i dati a una funzione e vogliamo che questi dati non vengano cambiati es. giorni dei mesi)

t1 = (2,4,6)
t1[2]  #accedere agli elementi

6